@tailwind base;
@tailwind components;
@tailwind utilities;

/* Class untuk memberikan highlight pada rak */
.highlight-rak {
    fill: #facc15 !important; /* Warna yellow-400 Tailwind */
    stroke: #1e40af !important; /* Warna blue-800 Tailwind */
    stroke-width: 3px;
    filter: drop-shadow(0 0 8px rgba(250, 204, 21, 0.6));
}

/* Opsional: Efek transisi halus untuk rak */
rect, path {
    transition: all 0.5s ease;
}

#canvasSVG svg {
    width: 100% !important;
    height: auto !important;
    max-height: 60vh; /* Supaya tidak terlalu tinggi dan harus scroll */
    display: block;
}